<h1><%= @episode.title %></h1>
<p>
  <%= @episode.description %>
</p>
<% if @episode.image_url %>
  <img src="<%=@episode.image_url%>"/>
<% end %>
<%= render partial: "layouts/errors" %>

<% if @episode.posts %>
  <ul>
    <% @episode.posts.each do |post| %>
      <li>
        <a href="<%=post_url(post)%>"><%= post.title %></a>
      </li>
    <% end %>
  </ul>
<% end %>

<% if signed_in? %>
  <%= render partial: "posts/new" %>
<% end %>

<br>
<%= button_to "Return to Show", show_url(@episode.show_id), method: :get %>
