By: <%= comment.escape('author')%>
<br>
<p>
  <div class="content" data-id="<%=comment.id%>">
    <%= comment.escape('content') %>
  </div>
</p>
<a class="show-stuff" data-id="<%=comment.id%>" href="javascript:void(0)"><%=actionText%></a>
<div class="nested-comment-form invis" data-id="<%=comment.id%>"></div>
<ul class="comment-list-<%=comment.id%>"></ul>
