<% if (!session.isNew()) {%>
  <div class="endorsement" data-id="<%=comment.id%>">
    <strong><%= comment.escape('total_points') %></strong>
    <% if (comment.escape("endorsed") === "true") {%>
      <a class="endorse" href="javascript:void(0)">Un-Endorse</a>
    <%} else {%>
      <a class="endorse" href="javascript:void(0)">Endorse</a>
    <% } %>
  </div>
  <% } %>
By: <%= comment.escape('author')%>
<br>
<p>
  <div class="content" data-id="<%=comment.id%>">
    <%= comment.escape('content') %>
  </div>
</p>

<a class="show-stuff" data-id="<%=comment.id%>" href="javascript:void(0)"><%=actionText%></a>
<div class="nested-comment-form" data-id="<%=comment.id%>"></div>
<ul class="comment-list-<%=comment.id%>"></ul>
