<h2><%= episode.escape('title')%></h2>
<%= episode.escape('airdate') %>
S<%= episode.escape('season')%>E<%= episode.escape('position')%>
<p><%=episode.escape('description')%></p>

<% if (image_url !== "") { %>
<img src="<%=image_url%>"/>
<% } %>
