<a class="show-return"
   href="#shows/<%= escape(episode.get('fShowTitle'))%>"
  >Return to: <%= episode.escape('fShowTitle').replace(/_/g, ' ')%></a>


<article class="page-basics">
  <h1><%= episode.escape('title') %></h1>
  <span>S<%= episode.escape('season') %>E<%= episode.escape('position') %></span>
  <section class="page-info group">
    <p>
      Description:
      <%= episode.escape('description') %>
    </p>

    <div class="episode-pic">
      <img src="<%=episode.escape('image_url') %>"/>
    </div>

    <div class="rating">
      <select class="current-user-rating">
        <option></option>
        <option value="100">A+</option>
        <option value="93">A</option>
        <option value="90">A-</option>
        <option value="87">B+</option>
        <option value="83">B</option>
        <option value="80">B-</option>
        <option value="77">C+</option>
        <option value="73">C</option>
        <option value="70">C-</option>
        <option value="67">D+</option>
        <option value="63">D</option>
        <option value="60">D-</option>
        <option value="59">F</option>
      </select>
      <strong class="average"></strong>
    </div>
  </section>
</article>

<ul class="post-list"></ul>

<div class="post-form"></div>
