<div style="width: <%= cols * 150 %>px;">
  <% if (episode) {%>
    <a href="#shows/<%=encodeURIComponent(episode._show.get('title').replace(/ /g,'_'))%>/episodes/<%= encodeURIComponent(episode.get('title').replace(/ /g,'_'))%>">
      <strong><%= episode.escape('title').replace(/&amp;/, '&') %></strong>
      <br>
      <%= episode._show.escape('title') %>
    </a>
  <% } %>
</div>
