<article class="page-basics">
  <h1><%=show.escape('title')%></h1>
  <section class="page-info group">
  <div class="show-rating-info">
    <p>Average Rating</p>
    <strong><%= show.escape('overall_rating') %></strong>
  </div>
    <p>
      Description:
      <%= show.escape('description') %>
      <br>
      <% if (!session.isNew()) {%>
        <% if (show.escape('watching') === "true") {%>
          <button class="watchlist-toggle">Remove from Watchlist</button>
        <% } else { %>
          <button class="watchlist-toggle">Add to your Watchlist</button>
        <% } %>
        <a href="<%= link %>" class="most-recent">Most Recent Episode</a>
      <% } %>
    </p>
    <div class="show-pic">
      <img src="<%=show.escape('image_url')%>"/>
    </div>

  </section>
</article>


<select class="season-selector" name="season"></select>
<section class="episodes-container group">
  <ul class="episodes-list"></ul>
  <div class="episode-preview"></div>
</section>
