<table>
  <tr>
    <% if signed_in? %>
      <td><a href="<%=user_url(current_user)%>"><%= current_user.username %></a></td>
      <td><%= button_to "Sign Out", session_url, method: :delete %></td>
    <% else %>
      <td><%= button_to "Sign In", new_session_url, method: :get %></td>
      <td><%= button_to "Sign Up", new_user_url, method: :get %></td>
    <% end %>
  </tr>
</table>
