<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-16">
  <title>Media Passport</title>
  <%= stylesheet_link_tag    'application'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <nav id="header">
  </nav>
  <main id="primary">
    <div class="main-container group">

    </div>
    <%= yield %>
  </main>
  <footer class="group">
    <strong><a href="http://www.christimpone.com">Chris</a></strong>
    <p>Credit to:
      <a href="http://www.tvmaze.com">TvMaze.com</a>
    </p>
  </footer>
</body>
</html>
